<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Fonts and fontawesome -->
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Roboto:100,300,300i,400"
    rel="stylesheet" />
  <link rel="stylesheet" href="all.min.css" />

  <!-- ilya styles -->

  <link rel="shortcut icon" type="image/png" href="img/favicon.png" />

  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/style2.css" />
  <!-- <link rel="stylesheet" href="css/sem_loader.css" />
    <link rel="stylesheet" href="css/sem_segment.css" />
    <link rel="stylesheet" href="css/sem_dimmer.css" /> -->

  <!-- <link rel="stylesheet" href="css/style_advs.css" /> -->

  <title>Ilya Cms &mdash; Front</title>
</head>

<body>
  <div class="main-container" id="main-wrapper">
    <header id="header" class="header">
      <div id="header-widget-1" class="header-widget-1">
        <div id="logoimg">
          <img src="" alt="logo" class="logo-simple" />
        </div>

        <div class="searchbar-simple" id="searchallsite">
          <input type="text" class="searchbar-simple__input" placeholder="جستجو در همه تمامی سایت..." />
          <a href="#" class="btn-search">
            <i class="fal fa-search searchbar-simple__icon"></i>
          </a>
        </div>

        <div id="advadd">
          <a href="#" class="btn-simple btn--tertiary ">درج رایگان آگهی</a>
        </div>

        <div class="navbar-simple">
          <ul class="navbar-simple__ul">
            <li class="navbar-simple__li">
              <a href="#">تجهیزات آزمایشگاهی</a>
            </li>

            <li class="navbar-simple__li">
              <a href="#">مواد شیمیایی</a>
            </li>

            <li class="navbar-simple__li">
              <a href="#">مطالب و اخبار</a>
            </li>

            <li class="navbar-simple__li">
              <a href="#">تأمین کنندگان</a>
            </li>
            <li class="navbar-simple__li">
              <a href="#">تعرفه ها</a>
            </li>
          </ul>
        </div>

        <div class="navbar-fixed">
          <ul class="navbar-fixed__ul">
            <li class="navbar-fixed__li">
              <a href="#">درباره ما</a>
            </li>
            <li class="navbar-fixed__li">
              <a href="#">پروفایل من</a>
            </li>
            <li class="navbar-fixed__li">
              <a href="#">تماس با ما</a>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <section id="base-all-pages-main">
      <section id="main-all" class="main-all">
        <section class="main-sidebar"></section>
        <section class="main-content">
          <div class="main-content-top"></div>

          <div class="main-content-main"></div>

          <div class="main-content-footer"></div>
        </section>
        <section class="main-sidebar-aid"></section>
        <!-- <div class="page-home"></div> -->
      </section>
    </section>

    <section class="top-footer">
      <div class="testing5 ilya-menu" id="simple3">
        <div class="ilya-menu-select ">
          selector
        </div>
        <div class="ilya-menu-content">
          list
        </div>
      </div>
      <div class="ilya-menu-show-id">
        idhere
      </div>
    </section>

    <footer id="footer" class="footer">
      <div id="footer-widget-1" class="footer-widget-1" style="grid-area: fw1">
        <form action="#" class="email-news">
          <div class="email-news__description">
            <i class="fal fa-envelope-open"></i>
            <label for="envelope">خبرنامه ایمیلی</label>
          </div>

          <label class="email-news__label" for="emailname-news">ایمیل خود را وارد کنید</label>
          <div class="email-news-container">
            <div class="email-news-container__btnsubmit">
              <i id="envelope" class="fal fa-paper-plane"></i>
            </div>
            <input class="email-news-container__input" type="text" id="emailname-news" name="firstname"
              placeholder="example: info@ilyaidea.ir" />
          </div>
        </form>
        <div class="ilya-follow">
          <div class="ilya-follow__header">
            ما را در فضای مجازی دنبال کنید.
          </div>

          <div class="ilya-follow__icons">
            <ul class="ilya-follow__icons--box">
              <li class="ilya-follow__icons--item">
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="ilya-follow__icons--item">
                <a href="#"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="ilya-follow__icons--item">
                <a href="#"><i class="fab fa-telegram"></i></a>
              </li>
              <li class="ilya-follow__icons--item">
                <a href="#"><i class="fab fa-facebook-square"></i></a>
              </li>
              <li class="ilya-follow__icons--item">
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="footer3">
          توضیحات
        </div>
      </div>
    </footer>
  </div>

  <div class="ilya-rights">
    <p>تمامی حقوق متعلق به ایلیا ایده می باشد.</p>
  </div>

  <!-- <script
      type="text/javascript"
      src="node_modules/jquery/dist/jquery.min.js"
    ></script> -->

  <!-- <script src="js/index.js"></script> -->

  <script src="js/dataBank.js"></script>
  <script src="js/menuBase.js"></script>
  <!-- <script src="js/menu_babel.js"></script> -->
</body>

</html>