<!DOCTYPE html>
<html lang="en">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- chache stop -->

    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />


    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />


    <!-- Fonts and fontawesome -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Roboto:100,300,300i,400"
        rel="stylesheet">

    <link rel="stylesheet" href="../../css/all.min.css">
    <link rel="stylesheet" href="../../css/style.css">


    <link rel="shortcut icon" type="image/png" href="img/favicon.png">

    <script src="../../js/modernizr.custom.js"></script>

    <link rel="stylesheet" href="css/style_detail_adv.css">

    <title>Ilya Cms &mdash; Front </title>



</head>


<body>

    <div id="mute" class="none" onclick="menuColClose()"></div>


    <div class="main-container" id="main-wrapper">

        <section class="header">
            Header
        </section>

        <section class="main">
            <div id="ilya-tab-place" class="tab-container">
                <div class="ilya-tab-steps"></div>
                <div class="ilya-step-line"></div>
                <div class="ilya-tab-content">
                    <div class="content1 bvisible" id="content1">
                        content1
                    </div>
                    <div class="content2" id="content2">
                        content2
                    </div>
                    <div class="content3" id="content3">
                        content3
                    </div>
                    <div class="content4" id="content4">
                        content4
                    </div>
                </div>
            </div>


            <div class="tab-menu">
                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1">پیش نمایش</label>

                <input id="tab2" type="radio" name="tabs">
                <label for="tab2">ویرایش</label>

                <input id="tab3" type="radio" name="tabs">
                <label for="tab3">ارتقاء</label>

                <input id="tab4" type="radio" name="tabs">
                <label for="tab4">حذف</label>


                <section id="content1">
                    <div class="image-card ">
                        <div class="one-column">
                            <div class="image-card--header">ایلیا ایده</div>
                            <div class="image-card--meta">شرکت</div>
                            <div class="ilya-button">
                                <button class="ilya-button1 small">دریافت اطلاعات تماس</button>
                                <button class="ilya-button2 small">نشان کردن</button>
                            </div>
                            <div class="ilya-adv-Specifications">
                                <div class="adv-row">
                                    <div class="ilya-adv-Specifications--title">دسته بندی</div>
                                    <div class="ilya-adv-Specifications--value">آپارتمان</div>
                                </div>
                                <hr>
                                <div class="adv-row">
                                    <div class="ilya-adv-Specifications--title">محل</div>
                                    <div class="ilya-adv-Specifications--value">آپارتمان</div>
                                </div>
                                <hr>
                                <div class="adv-row">
                                    <div class="ilya-adv-Specifications--title">نوع آگهی</div>
                                    <div class="ilya-adv-Specifications--value">آپارتمان</div>
                                </div>
                                <hr>
                                <div class="adv-row">
                                    <div class="ilya-adv-Specifications--title">آگهی دهنده</div>
                                    <div class="ilya-adv-Specifications--value">آپارتمان</div>
                                </div>
                                <hr>
                                <div class="adv-row">
                                    <div class="ilya-adv-Specifications--title">قیمت</div>
                                    <div class="ilya-adv-Specifications--value">آپارتمان</div>
                                </div>
                            </div>
                            <div class="image-card--description">توضیحات......</div>
                        </div>
                        <div class="tow-column">
                            <div class="image-card--image">
                                <img src="../../img/besher.jpg">
                            </div>
                        </div>
                    </div>
                </section>
                <section id="content2">
                    <p>content 2</p>
                </section>
                <section id="content3">
                    <p>content 3</p>
                </section>
                <section id="content4">
                    <p>آیا مایل به حذف آگهی هستید؟
                        <button class="small">حذف آگهی</button>
                    </p>

                </section>

            </div>

        </section>

        <section class="top-footer">
            top-footer
        </section>

        <footer class="footer">
            footer
        </footer>


    </div>

    <div class="ilya-rights">
        <p>تمامی حقوق متعلق به ایلیا ایده می باشد.</p>
    </div>

    <!-- <script src="../../js/index.js"></script> -->
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>


    <script src="js/detail_adv.js"></script>
</body>


</html>